# Unity folders
**Library/
**Logs/
**obj/
**Temp/
**UserSettings/

# Build folders
**[Bb]uild/
**[Bb]uilds/

# IDE folders
**.vs/
**.idea/

# IDE files
.vscode/settings.json
/.vsconfig
*.sln
*.user
*.csproj
*.userprefs
*.DotSettings